.App {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.name {
  display: flex;
  align-items: center;
  margin: 25px;
}

.name > div {
  margin: 0px 15px;
}

.chat {
  display: flex;
  flex-direction: column-reverse;
  padding: 5px;
  margin: 10px;
  max-height: 600px;
  overflow: scroll;
  max-width: 500px;
  border: 1px solid lightgray;
  border-radius: 5px;
  min-height: 300px;
}

.who {
  display: flex;
  flex-direction: column;
}

.owner {
  color: green;
  font-size: 13px;
}

.item {
  display: flex;
  margin: 10px;
}

.item .msg {
  margin: 5px;
}

.item .msg div {
  padding: 5px;
}

.other {
  align-self: flex-start;
}

.mine {
  align-self: flex-end;
  flex-direction: row-reverse;
}

.enter {
  display: flex;
  align-items: center;
  margin: 10px;
  max-width: 500px;
}

.enter > div {
  margin: 0px 15px;
  flex: 1;
}

